<p>Hello World! I am tpa. :)</p>

Ideas for website:
<ul>
  <li>switch to hugo</li>
  <li>:eyes: recon</li>
  <li>contact info</li>
  <li>other things ive wanted to do in the past</li>
</ul>

VVVVV random stuff ;-;
<a href="https://microbot.iamtpa.xyz/">microbot (random  finite state machine turtle programming game), microbot.iamtpa.xyz</a>
<a href="https://words.iamtpa.xyz/">writing (words.iamtpa.xyz)</a>

hangouts me at thepiercingarrow@gmail.com
