@-moz-document domain("artofproblemsolving.com") {
.cart {
    display: none;
}

#header {
    margin: 0;
}

#top-bar {
    display: none;
}

.login-dropdown-label, .username, .menu-login-item {
    text-transform: initial;
}

.menubar-label {
    text-transform: capitalize;
}
}
